#------------------------------------------------------------------
# ex : imageRegistry={IP}:{PORT}
# ex : tsbVersion={tsb version}
# ex : tsbNamespace={tsb namespace}
#------------------------------------------------------------------
# ex : imageRegistry=192.168.6.122:5000
# ex : tsbVersion=4.0.0.6
# ex : tsbNamespace=tsb-ns
#------------------------------------------------------------------

#image registry
imageRegistry=tmaxcloudck

#tsbVersion
tsbVersion=4.0.0.6

#installTsbNamespace
tsbNamespace=tsb-ns